*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    padding: 3px 0;
}

#chat_content{
    height: 75vh;
    overflow-y: scroll;
}

.chat-box{
    background-color: #f1f1f1;
    max-width: 500px;
    display: inline-block;
    padding: 5px 50px;
    border-radius: 50px;
}

#chat_content .container{
    margin: 5px 20px;
}

.chat-box .username{
    display: block;
    font-weight: 900;
}

.chat-box .content{
    display: inline-block;
}

.chat-box .time{
    font-size: .8em;
    color: #444;
}

.chat-message{
    box-shadow: 0px -1px 1px #bbb;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-message input{
    width: 80vw;
    padding: 10px 5px;
    border-radius: 15px;
    border: 1px solid #ddd;
}

.chat-message button{
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-weight: 600;
}